{% extends "main/base.html" %}
{%block title%}
    Create Note
{%endblock%}
{%block content%}
    <h2 align="center">Create New Note</h2>
    <br>
    <hr style="height:2px; width:850px;" />  
    <br>
    <form method="post" action="/createnote/" class="form-group">
        {%csrf_token%}
        
        <div style="padding-left: 320px">
            <div class="input-group mb-3"> 
                {{form.notetitle}}
            </div>
            <br>
            <button type="submit" name = "save" class="btn btn-success" style="background-color: #75C9BA !important; margin-left:45px">Create Note</Button>
        </div>
    </form>    
{%endblock%}