{% extends "main/base.html" %}

{%block title%}
    Home
{%endblock%}
{% block content%}
<img src="https://media4.giphy.com/media/rEcP2eIDLyw5bZHSJK/200w.webp" alt="backimage" width=320 height=320 float: right/>
    <div style="float: left; font-family: Georgia;">
        <h2>About us</h2>
        <br>
        <hr style="height:10px;"/>
        <br>
        This is a user-friendly website helping you to make notes<br> and lists to organize your daily schedule.<br>
        Built using Python, HTML and CSS on the Django web framework.<br>  <hr style="height:5px;"> 
        <b> Developers:</b> <br>
        <a href="https://github.com/shrav-6">@shrav6</a> <br>
        <a href="https://github.com/geee28">@geee28</a>
    </div>
    
{%endblock%}