{% extends "main/base.html" %}
{%block title%}
    View list
{%endblock%}
{%block content%}
    <h1>{{ls.name}}</h1>
    <br>
    <form method="post" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
            <div class="input-group mb-3">
                <span class="input-group-text">
                <button type="submit" name="d{{item.id}}" value="delete" class="btnimage" style="border: 0; outline:0"><img src="https://cdn4.iconfinder.com/data/icons/controls-add-on-flat/48/Contols_-_Add_On-35-512.png" alt="del" width="19" height="19"></button>
               
            </span>
                <div class="input-group-prepend">
                    <div class = "input-group-text" style="height:40px">
                    {%if item.complete == False %}            
                        <input type="checkbox" value="clicked" name="c{{item.id}}">
                    {%else%}            
                        <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
                    {%endif%}   
                    </div>             
                </div>
                <input type="text" value="{{item.text}}" class="form-control" name="item-text{{item.id}}">
            </div>
        {% endfor %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">                
                <Button type="submit" name = "newItem" value="newItem" class="btn btn-success" style="background-color: #75C9BA !important">AddItem</Button>                
            </div>
                <input type="text" name="new">
            </div>
                <Button type="submit" name = "save" value="save" class="btn btn-success" style="background-color: #75C9BA !important">Save</Button>
                <Button type="submit" name = "deletelist{{ls.id}}" value="deletelist" class="btn btn-success" style="background-color: #d85f56 !important">Delete List</Button>
        </div>
    </form>
{%endblock%}